<header class="header">
  <div class="header-container">
    <div class="nav">
      {% if page.meta == "home" %}
      <span class="title">
        <li>
          <a class="page-link" href="{{ site.baseurl }}">home</a>
        </li>
      </span>
      {% else %}
        <li>
          <a class="site-title" href="{{ site.baseurl }}/">home</a>
        </li>
      {% endif %}
      {% if page.meta == "archive" %}
      <span class="title">
        <li>
          <a class="site-title" href="{{ '/archive' | prepend: site.baseurl }}/">archive</a>
        </li>
      </span>
      {% else %}
        <li>
          <a class="site-title" href="{{ '/archive' | prepend: site.baseurl }}/">archive</a>
        </li>
      {% endif %}
      {% if page.meta == "category" %}
      <span class="title">
        <li>
          <a class="site-title" href="{{ '/category' | prepend: site.baseurl }}/">category</a>
        </li>
      </span>
      {% else %}
        <li>
          <a class="site-title" href="{{ '/category' | prepend: site.baseurl }}/">category</a>
        </li>
      {% endif %}
      {% if page.meta == "about" %}
      <span class="title">
        <li>
          <a class="site-title" href="{{ '/about' | prepend: site.baseurl }}/">about</a>
        </li>
      </span>
      {% else %}
        <li>
          <a class="site-title" href="{{ '/about' | prepend: site.baseurl }}/">about</a>
        </li>
      {% endif %}
    </div>
    <div class="description"> {{ site.motto }} </div>
  </div>
</header>
